<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      <label>用户名</label><br />
      <input type="text" name="userName" value="" /><br />
      <label>密码</label><br />
      <input type="password" name="password" value="" /><br />
      <input type="submit" value="登录" />
    </form>
  </body>
</html>
