<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
    <link rel='stylesheet' href='/css/page/main.css' />
  </head>
  <body>
    <div id="menu">
    </div>
    <div id="workspace">
    </div>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="/js/util.js"></script>
    <script src="/js/lib/vue.js"></script>
    <script src="/js/component.js"></script>
    <script src="/js/editor.js"></script>

    <script src="/js/test.js"></script>
    <script type="text/javascript" src="/js/page/main.js"></script>
  </body>
</html>
